body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.subhead {
  display: block;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #e7f0f1;

}
label {
  color: #e7f0f1;
}

figcaption {
  font-size: 1.7em;
  color: #004d47;
  text-transform: uppercase;
  letter-spacing: 4px;
}

figure {
  width: 100%;
  clear:both;
}
form input {
  font-family: 'Roboto Condensed';
}
input {
  font-size: 1.5em;
  display: block;
}


.left {
  background-color: #e7f0f1;
  height: 100vh;
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  background-color: #128277;
  height: 100vh;
  width: 50%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


.madeinny {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  clear: both;
  align-self: flex-end;
  /*justify-content: left;*/
}
